src/test/resources/flows/test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="createAccountsInSapFlow" >
		<collection-splitter doc:name="Collection Splitter" />
		<processor-chain doc:name="Processor Chain">
            <set-variable variableName="customerName" value="#[payload.Name]" doc:name="Set customerName variable"/>
			<sap:outbound-endpoint exchange-pattern="request-response"
				connector-ref="SAP" type="function" functionName="BAPI_CUSTOMER_GETINTNUMBER"
				xmlVersion="2" outputXml="true" evaluateFunctionResponse="true"
				responseTimeout="10000" doc:name="Get Next Customer Number from SAP">
                <sap:definition><![CDATA[<BAPI_CUSTOMER_GETINTNUMBER type="function">
	<import>
			<ACCOUNTGROUP type="field" sapType="CHAR" sapLength="4">ZAG1</ACCOUNTGROUP>
	</import>
</BAPI_CUSTOMER_GETINTNUMBER>]]></sap:definition>

			</sap:outbound-endpoint>

			<dw:transform-message doc:name="Transform BAPI_CUSTOMER_GETINTNUMBER to DEBMAS01">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
	
	DEBMAS01: {
		IDOC @(BEGIN: "1"): {
			"EDI_DC40" @(SEGMENT: "1"): {
				TABNAM: "EDI_DC40",
				DIRECT: "2",
				IDOCTYP: "DEBMAS01",
				MESTYP: "DEBMAS",
				SNDPOR: "MULE01_LS",
				SNDPRT: "LS",
				SNDPRN: "MULE01_LS",
				RCVPOR: "T90CLNT090",
				RCVPRT: "LS",
				RCVPRN: "T90CLNT090"
			},
			E1KNA1M @(SEGMENT: "1"): {
				MSGFN: "009",
				KUNNR: payload."BAPI_CUSTOMER_GETINTNUMBER".export.CUSTOMERID,
				KTOKD: p('sap.default.accountGroup'),
				LAND1: "SK",
				NAME1: flowVars.customerName,
				SPRAS: "E",
				"SPRAS_ISO": "EN"				
			}
		}
	}
]]></dw:set-payload>
        </dw:transform-message><sap:outbound-endpoint exchange-pattern="request-response"
				connector-ref="SAP" type="idoc" functionName="DEBMAS01" xmlVersion="2"
				outputXml="true" evaluateFunctionResponse="true" responseTimeout="10000"
				doc:name="Create Customer in SAP" />
		</processor-chain>
		<collection-aggregator failOnTimeout="true"
			doc:name="Collection Aggregator" />
	</flow>

	<flow name="createAccountsInSalesforceFlow" >
		<sfdc:create config-ref="Salesforce" type="Account"
			doc:name="Salesforce">
			<sfdc:objects ref="#[payload]" />
		</sfdc:create>
	</flow>
	<sub-flow name="retrieveAccountFromSapFlow" >
		<sap:outbound-endpoint exchange-pattern="request-response"
			connector-ref="SAP" type="function" functionName="BAPI_CUSTOMER_FIND"
			xmlVersion="2" outputXml="true" evaluateFunctionResponse="true"
			responseTimeout="10000" doc:name="Find Customers in SAP">
            <sap:definition><![CDATA[<BAPI_CUSTOMER_FIND type="function">
	<import>
		<MAX_CNT type="field" sapType="INT">0</MAX_CNT>
		<PL_HOLD type="field" sapType="CHAR" sapLength="1">X</PL_HOLD>
	</import>
  	<tables>
  	<SELOPT_TAB type="table">
		<table name="SELOPT_TAB">
			<row id="0">
				<TABNAME type="field" 
					sapType="CHAR" sapLength="4">KNA1</TABNAME>
				<FIELDNAME type="field" 
					sapType="CHAR" sapLength="5">NAME1</FIELDNAME>
				<FIELDVALUE type="field" 
					sapType="CHAR" sapLength="20">#[org.apache.commons.lang3.StringEscapeUtils.escapeXml(payload['Name'])]</FIELDVALUE>
			</row>
		</table>
		</SELOPT_TAB>
	</tables>
</BAPI_CUSTOMER_FIND>
]]></sap:definition>

		</sap:outbound-endpoint>

		<dw:transform-message doc:name="Transform BAPI_CUSTOMER_FIND to Customer">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload."BAPI_CUSTOMER_FIND".tables."RESULT_TAB".*row map {
	CustomerNumber : $.CUSTOMER,
	(Name : $.FIELDVALUE) when ($.CUSTOMER != "")
}]]></dw:set-payload>
                        </dw:transform-message>
	</sub-flow>
	<sub-flow name="deleteAccountsFromSapFlow" >
		<foreach doc:name="For Each">
            <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="ZCAFM_CUSTOMER_DELETE" xmlVersion="2" outputXml="true" evaluateFunctionResponse="true" responseTimeout="10000" doc:name="Delete Customer from SAP">
                <sap:definition><![CDATA[<ZCAFM_CUSTOMER_DELETE type="function">
	<import>
			<PI_CUSTOMER type="field">#[payload]</PI_CUSTOMER>
	</import>
</ZCAFM_CUSTOMER_DELETE>
]]></sap:definition>

            </sap:outbound-endpoint>
		</foreach>
	</sub-flow>
	<sub-flow name="deleteAccountsFromSalesforceFlow" >
		<sfdc:delete config-ref="Salesforce" doc:name="Salesforce">
			<sfdc:ids ref="#[payload]" />
		</sfdc:delete>
	</sub-flow>
</mule>
