src/test/munit/test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">
	<munit:config name="test-suite.xml" />

	<configuration-properties doc:name="Configuration properties" doc:id="61136523-b150-4aeb-96a4-7bb375141cdd" file="C:\Users\hotovo\mule.dev.properties" />
	<munit:before-test name="test-suiteBefore_Test" description="Before tests actions" doc:id="2fde2104-4b1f-44d4-a87c-e0dcb98d2047">
		<flow-ref doc:name="getTestRecordFromSAP" doc:id="c384e4f3-8b38-417f-aa13-c8b36e3ce629" name="getTestRecordFromSAP"/>
		<ee:transform doc:name="Prepare testing data for Salesforce" doc:id="f3d20ce6-42ac-4d93-8eec-42c7a6461610">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="accounts" ><![CDATA[%dw 2.0
output application/java
---
[
	{
		Description: "test description2",
		Name: vars.customerSAP.Name[0],
		Industry: "Government",
		NumberOfEmployees: 100000,
		BillingPostalCode: randomInt(100000) as String
	},
	{
		Description: "test description2",
		Name: "TestSAP" ++ randomInt(100000),
		Industry: "Energy",
		NumberOfEmployees: 100,
		BillingPostalCode: randomInt(100000) as String
	}
]]]></ee:set-variable>
			</ee:variables>

</ee:transform>
		<salesforce:create type="Account" doc:name="Create Accounts in Salesforce" doc:id="fbea33fb-3a9f-482d-b346-1f55aa473eb9" config-ref="Salesforce">
			<salesforce:records ><![CDATA[#[vars.accounts]]]></salesforce:records>
		</salesforce:create>
		<set-variable value="#[payload.items.id]" doc:name="Store IDs to variable sfdcIds" doc:id="413fbb75-d093-4418-963b-92b23d8b5b9f" variableName="sfdcIds"/>
	</munit:before-test>
	<munit:test name="test-suite-flowTest" description="Test" doc:id="c1d43016-feca-4b17-a7d7-c08d5f6565ba">
		<munit:execution>
			<flow-ref doc:name="queryFlow" doc:id="2d374b27-faa8-40a8-9262-503b3cddb1ee" name="queryFlow"/>
			<ee:transform doc:name="Filter test records" doc:id="e54337a1-7b49-4005-a861-f1b8313e661c" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var queryData= vars.accounts map($.Name)
---
payload distinctBy (queryData)]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="businessLogicFlow" doc:id="b01f179d-753f-4604-8840-020d7ffbc32e" name="businessLogicFlow" />
			<scripting:execute doc:name="Sleep for 10s until the processing is completed" doc:id="01a863ce-27b6-4ce6-8f5f-3e0b1da095b4" engine="groovy">
				<scripting:code>sleep(10000)</scripting:code>
			</scripting:execute>
			<flow-ref doc:name="checkMigratedRecord" doc:id="a884d5e4-0eb1-4172-a9be-968980b4af6f" name="checkMigratedRecord"/>
			<flow-ref doc:name="checkNotMigratedRecord" doc:id="6b7d9037-8109-421c-aace-9926f74c7dee" name="checkNotMigratedRecord"/>

</munit:execution>
		<munit:validation >
			<munit-tools:verify-call doc:name="Verify Upsert call" doc:id="d5a32ae1-dc5c-48b3-afd6-02ad0b28297d" processor="sap:send" times="1"/>
		</munit:validation>
	</munit:test>
	<munit:after-test name="test-suiteAfter_Test" description="After tests actions" doc:id="86475d6f-cf23-460b-9504-4d09cc840d68">
		<salesforce:delete doc:name="Delete source Accounts from Salesforce" doc:id="e8e74886-fb83-4ed0-927d-14c6cdf7da97" config-ref="Salesforce">
			<salesforce:ids><![CDATA[#[vars.sfdcIds]]]></salesforce:ids>
		</salesforce:delete>
	</munit:after-test>
	<flow name="getTestRecordFromSAP" doc:id="d383b0c4-d600-426a-acbd-7cc40ed64d72">
		<ee:transform doc:name="Set SAP input" doc:id="c93d9c35-f6ab-4a74-a270-98dd070498af">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  "BAPI_CUSTOMER_FIND": {
    "import": {
      "MAX_CNT": "0",
      "PL_HOLD": "X"
    },
    "tables": {
      "SELOPT_TAB": {
        "row": {
          "TABNAME": "KNA1",
          "FIELDNAME": "NAME1",
          "FIELDVALUE": p('test.sap.name')
        }
      }
    }
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sap:sync-rfc key="BAPI_CUSTOMER_FIND" doc:name="Get Customer by Name" doc:id="ddd9686f-8a31-47c2-a945-94e7d2fa43bc" config-ref="SAP_Config" />
		<ee:transform doc:name="Prepare test record from SAP" doc:id="5c3b504f-84fd-4446-8122-9d34c1884aa3">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="customerSAP"><![CDATA[%dw 2.0
output application/java
---
payload."BAPI_CUSTOMER_FIND".tables."RESULT_TAB".*row map
{
	Name: $.FIELDVALUE
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="checkMigratedRecord" doc:id="00dce5c4-264a-40cd-a54d-2170bad25278">
		<ee:transform doc:name="Set SAP input" doc:id="c335f519-f45f-428d-b3a9-b8dd64f3437b">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  "BAPI_CUSTOMER_FIND": {
    "import": {
      "MAX_CNT": "0",
      "PL_HOLD": "X"
    },
    "tables": {
      "SELOPT_TAB": {
        "row": {
          "TABNAME": "KNA1",
          "FIELDNAME": "NAME1",
          "FIELDVALUE": vars.customerSAP.Name[0]
        }
      }
    }
  }
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
        <sap:sync-rfc doc:name="Get Customer by Name" doc:id="2b9bf3de-9ba8-4782-a809-a456c6705c8a" config-ref="SAP_Config" key="BAPI_CUSTOMER_FIND">
		</sap:sync-rfc>
        <ee:transform doc:name="Transform result from SAP" doc:id="4c42c869-d831-4840-a507-f2b81baa3c0d">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload."BAPI_CUSTOMER_FIND".tables."RESULT_TAB".*row map
{
	Name: $.FIELDVALUE,
	CustomerNumber : $.CUSTOMER
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
        <munit-tools:assert-that doc:name="Assert that we found updated Customer" doc:id="05f39bd9-284d-4b1b-b3c3-9883484257f5" is="#[MunitTools::notNullValue()]" expression="#[payload[0].CustomerNumber]" message="Assert that we found updated Customer has failed"/>
	</flow>
	<flow name="checkNotMigratedRecord" doc:id="1e2e27bd-2712-4069-b0ab-63c253d17148">
		<ee:transform doc:name="Set SAP input" doc:id="6ccc6b8e-0d6d-4ae6-9c2b-c293513d72d9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  "BAPI_CUSTOMER_FIND": {
    "import": {
      "MAX_CNT": "0",
      "PL_HOLD": "X"
    },
    "tables": {
      "SELOPT_TAB": {
        "row": {
          "TABNAME": "KNA1",
          "FIELDNAME": "NAME1",
          "FIELDVALUE": vars.accounts[1].Name
        }
      }
    }
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sap:sync-rfc key="BAPI_CUSTOMER_FIND" doc:name="Get Customer by Name" doc:id="731f6c24-9e48-40a3-83bc-8d15b5190a43" config-ref="SAP_Config" />
		<ee:transform doc:name="Transform result from SAP" doc:id="983c7d64-f83f-4983-9a6f-abb781c47ade">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload."BAPI_CUSTOMER_FIND".tables."RESULT_TAB".*row map
{
	Name: $.FIELDVALUE,
	CustomerNumber : $.CUSTOMER
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<munit-tools:assert-that doc:name="Assert that we didn't find Customer" doc:id="4c3967f6-2aa8-45e3-9e18-5b10d7e9bc8c" expression="#[payload[0].CustomerNumber]" is="#[MunitTools::nullValue()]" message="Assert that we didn't find Customer has failed"/>
	</flow>

</mule>
